<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/landing-page-before.css">
    <!-- <link rel="stylesheet" href="../static/reset.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <title>Instant Income Portfolio Event</title>
  </head>
  <body>
    <div class="gradient-layer">
    </div>
    <div class="top-container">
      <h1>The "Instant Income" Portfolio Event</h1>
      <div class="countdown">
        <h2 class="event-start-title">This Event will Start in:</h2>
        <div id="countdown-days">
          <span>00</span>
          <p class="days">Days</p>
        </div>
        <div id="countdown-hours">
          <span >00</span>
          <p class="hours">Hours</p>
        </div>
        <div id="countdown-minutes">
          <span>00</span>
          <p class="minutes">Minutes</p>
        </div>
        <div id="countdown-seconds">
          <span>00</span>
          <p class="seconds">Seconds</p>
        </div>
        <p class="event-msg">Your event will begin at 1pm ET.</p>
      </div>
    </div>
    <div class="bottom-container">
    <p class="bottom-text">Thanks for joining Ron Gross and Robert Brokamp <br>
      as they discuss how they believe investors <br>
      can generate consistent — and meaningful — cash income from their <br>
      investment portfolio in today's market</p>
    <hr>
    <h2 class="bottom-header">A few things to keep in mind...</h2>
    <ul class="reminder-list">
      <li>We expect the presentation to run about 45 minutes, so we recommend watching on your laptop or desktop.</li>
      <li>If you have trouble viewing the video event, try refreshing this page.</li>
      <li>Questions? Email us at <a href="mailto:INCOME@fool.com">INCOME@fool.com</a></li>
    </div>
    </ul>
  </body>
</html>
