<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/order-page.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Zilla+Slab:400,400i,500,500i,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <title>Motley Fool</title>
  </head>
  <body>
    <div class="content-container">
      <div class="video"></div>
      <h1>How would it feel to watch cash pour into your portfolio... delivering a
        steady stream of income <em>month after month?</em></h1>
      <h2>And what if you could set up this portfolio in <br><ins>less than 30 minutes?</ins></h2>
      <h3>Read on to discover how to turn your portfolio <br> into an income powerhouse
         that can generate cash <br> even when you’re not working...</h3>
      <h3>Plus... how to easily <ins>supercharge</ins> this simple income strategy with
         high-yielding stocks, covered calls, bonds, REITs, annuities, and more...</h3>
      <p>If you’ve ever wondered how to turn your nest egg into a steady source
         of income throughout your retirement, then you’ll want to keep reading.</p>
      <p>If you’ve ever wondered if you should buy a <strong>rental property</strong>...</p>
      <p>Or which <strong>high-yield dividend stocks</strong> to buy...</p>
      <p>Or if right now is a good time to buy <strong>bonds</strong>...</p>
      <p>Or whether you should buy an <strong>annuity</strong>...</p>
      <p>Or how to <strong>protect your investing income</strong> from the taxman...</p>
      <p>Then what I’m about to reveal could be exactly what your portfolio needs.</p>
      <p>Because I’m going to tell you about a unique solution we’ve developed to
        show you, step by step, how you can earn extra income with your portfolio
        to help you live the lifestyle of your dreams..</p>
      <p>Whether that means lavish trips, a bigger house, nicer cars, or a quiet, early, and long
         retirement... with the peace of mind that comes from knowing you’ve achieved true financial independence...</p>
      <p>The kind of financial independence now being enjoyed by Motley
         Fool member Mark T., who had this to say about The Motley Fool’s
         approach to income investing:</p>
     <p class="quote"><strong>“For the first time, the money that I've invested has grown on top of
        itself and is making more money than I make now."</strong></p>
     <p>“I think that's a goal that a lot of people aspire to, especially to
        become financially independent. The money that I have now is working harder
        than I am at generating an income. That's really an exciting milestone for a family.”</p>
      <h3>3 Strategies That Could Turn Your Portfolio Into <br> an Income-Producing Machine</h3>
      <p>In a moment, I’ll share some of the most important income investing
        lessons we’ve learned overthe past 24 years of helping investors
        consistently build wealth in the market.</p>
      <p>For one, you’ll find out why all dividend stocks are not created equal.
        In fact, a recent study shows that picking the right group of
        dividend-paying stocks can mean higher gains than other,seemingly similar
        dividend stocks. I’ll reveal the key to these returns below.</p>
      <p>But as important as dividends are to a profitable income strategy,
        they aren’t the only way to generate cash.</p>
      <p>So I’ll also share how to use real estate to earn steady income,
        capital gains, and special taxbreaks. Including taking advantage of an
        unusual loophole that created an entirely new form ofreal estate
        investing... minting new millionaires ever since it was created.</p>
      <p>And don’t count out bonds. They sometimes get a bad rap for being
        boring... but the diversity that bonds give you can be your best
        friend when the stock market nosedives. Just think back to 2008.
        Stocks plummeted 37% while bonds went UP 5.24% AND paid out cash the
        whole time! Not so boring now, eh?</p>
      <h3>Imagine Knowing Exactly Which Dividend Stocks You Should Buy <br>
          (and <ins>When</ins> You Should Buy Them)!</h3>
      <p>You’ve probably heard that dividend stocks have outperformed the S&amp;P 500. And it’s true.</p>
      <p>In fact, fully 81% of the returns of the S&amp;P 500 Total Return
         Index can be attributed to reinvested dividends and the power of compounding.</p>
      <p>Just look at this chart. It shows the performance of $10,000 invested in 1960.
         The scenario that took dividends and reinvested them destroyed the S&amp;P
         500 by more than five times.</p>
      <img src="../static/images/line-chart.png" alt="line chart" style="display:inherit; margin:auto; width:60%;">
      <p>So, to ask an obvious question...</p>
      <p><strong>Would you rather have $1.9 million or $350,000?</strong></p>
      <p>Yeah, me too.</p>
      <p>But here’s the thing. You may be choosing the $350,000 option
        <em>without even knowing it</em>. Even if you’re already investing in dividend stocks.</p>
      <p>You see, if you take a closer look at the numbers behind the chart,
         you’ll discover that <strong>some dividend stocks have performed 8,793% better than others</strong>.</p>
      <p>This is where great stock picking comes into play...</p>
      <p>From 1972 to 2015, $100 invested in the best dividend stocks would
        have grown to $6,136. That same $100 would have fallen to just $69 if
        you had invested in the worst dividend stocks.</p>
      <p><strong>That’s right – the worst dividend stocks returned <strong style="color: #cc3300;">-31%</strong> over 43 years!</strong></p>
      <p>If you want to ride the <em>single most profitable</em> long-term road to
        stock market profits over the next 10 years, we think you should focus
          on the <strong>best</strong> dividend stocks.</p>
      <p>As you saw above, a carefully selected basket of the best
        dividend-paying stocks absolutely crushed the market’s returns for over
        40 years and counting. Not to mention they had less risk</p>
      <p>than the market as a whole, were more consistent, and paid out a steady
        stream of dividend checks quarter after quarter.</p>
      <p>But it’s not exactly easy to identify the best stocks. Even if you
        have the expertise, it’s incredibly time-consuming to sort through the
        thousands of dividend-paying investments out there to find the most promising ones.</p>
      <p>I’ll reveal how The Motley Fool consistently finds <em>winning</em> dividend stocks in a moment,
        but like Imentioned earlier, it’s critical to understand that stocks aren’t
        the only way to make money in today’s market.</p>
      <h3>How Bonds Can Pay You Income Every Month, <br>No Matter Where the Market Goes Next</h3>
      <p>Let’s say you’re absolutely convinced that President Trump’s
        business-friendly policies will be great for the stock market. You might
        be tempted to dismiss bonds because their returns look paltry when compared
        to the S&amp;P 500 during a bull market.</p>
      <p>But we think that would be a big mistake for any investor who values
        stability and long-term success.</p>
      <p>For one thing, there’s no guarantee the market will continue rising. It could even crash.</p>
      <p><strong>And like I mentioned above, in 2008 the overall <em>bond index
        actually rose 5.2%</em> while the <em>S&amp;P 500 fell 37%</em>.</strong></p>
      <p>That means bonds outperformed stocks by a whopping 42 points in a single
        year during one ofthe worst downturns in modern history.</p>
      <p>That’s why we believe it’s important to have at least some portion of
        your portfolio in rock-solid bonds, no matter what happens.</p>
      <p><strong>Not to mention that you’re probably underestimating bond investing’s
        impressive profit potential.</strong></p>
      <p>Some people dismiss bonds today because Treasury rates are so low.
        I’ve even seen breathless articles about a looming “bond apocalypse” on
        some financial news sites.</p>
      <p>But bonds come in many forms. There are Treasury bonds, municipal bonds,
         investment-grade bonds, high-yield bonds, asset-backed bonds, corporate bonds,
         junk bonds, bond funds, bond ETFs, and more.</p>
      <p>Some pay 1%, and <strong>some pay upwards of 15%</strong>.
         And some even offer <strong>100% tax-free income</strong>!</p>
      <p>Imagine a tax-free bond that pays 8% interest. When you factor in the
         tax benefits, that’s more like earning 10.8% interest (assuming a 35% tax rate).
         I challenge you to find yields like that anywhere else. You’re certainly
         not going to get them from CDs.</p>
      <p>I understand why so many people disregard bonds. Heck, many of the younger
         analysts who work here at The Motley Fool avoid bonds altogether.</p>
      <p>But we believe investors like you, looking to squeeze as much income as
         possible out of their portfolio, can’t afford to ignore them. Here are just a
         few of the benefits that bonds offer...</p>
      <p><strong>Municipal bonds are a powerful source of 100% tax-exempt income:</strong>
         Bond investors absolutely love municipal bonds because the interest
         income you earn is free from federal income taxes. And in most states,
         bonds issued by a government entity within the state are exempt from state
         and local income taxes as well.</p>
      <p><strong>Bonds offer a steady stream of predictable income for years on
         end:</strong> A bond issuer agrees to pay you back all of your money at
         the bond’s maturity date. That’s the total duration of the bond – it can
         be anywhere from one to 30 years – and you’ll receive checks
         from the issuer all along the way. Just imagine, 10 years from now
         you could still be collecting interest payments from an investment you make today.</p>
      <p><strong>A “bond ladder” ensures you receive a paycheck every single
         month:</strong> By investing in multiple bonds and staggering their
         payment dates, you can ensure you receive interest payments from your bond
         portfolio every month of the year.</p>
      <p>To build a bond ladder, just break up your bond allocation into equal
         amounts and then buy individual bonds that mature at staggered times.
         So if you wanted to invest $100,000 in bonds,you’d put $20,000 each
         in bonds that mature in one, two, three, four, and five years.</p>
      <p>It’s a simple way to earn guaranteed monthly income and protect yourself
         from rising interest rates (which can hurt a bond’s trading value).</p>
      <p>Which brings me to another – often overlooked – investment class our analysts
         love in this market... Real Estate Investment Trusts or REITs.</p>
      <h3>How to Use REITs to Generate Income From Real Estate <br>
          (Without the Hassle of Being a Landlord!)</h3>
      <p>Real estate investing has been a go-to income strategy of the mega-rich
         for centuries... and who wouldn’t love to kick back and watch the
         rental income checks roll in month after month?</p>
      <p>But anyone who owns rental properties will tell you it’s not all
         sunshine and lollipops... it can bea giant headache.</p>
      <p>You’ve got to find property bargains... you’ve got to pay huge fees
         to everybody and their brother... you’ve got to deal with tenants...
         you’ll probably be up to your armpits in debt from the mortgages for
         your properties... and you may not see profits for many years, if ever.</p>
      <p>Thankfully, there’s a simple way to generate income from real estate
         without all the hassles of being a landlord.</p>
      <p>REITs allow you to gain income without having to worry about dealing with tenants.</p>
      <p>And, of course, there’s also another incredible benefit of REITs: The <ins>big, fat dividends</ins>.</p>
      <p>We’re talking dividends of 5.26% and even 5.77%... and when we start
         seeing rock-solid companies paying big dividends like that, we get excited.</p>
      <p>You’ve probably heard of the 4% retirement rule. Basically, a bunch
         of academic studies have shown that you can safely spend 4% of your nest egg
         each year... and be pretty certain that your money will last as long as you need it to.</p>
      <p>That means if you build a diversified portfolio of REITs yielding more
         than 4%... you can take out that 4% every single year without even
         touching your principal. That means your nest egg can continue to
         grow... even as it sends you big income checks every 90 days.</p>
      <h3>But Finding the Right Dividend Stocks, Bonds, and REITs <br> Is Only Half the Battle</h3>
      <p>Because not only do you have to sort through the thousands of
         potential investments to find the highest-quality options...</p>
      <p>You also have to know how to select the right balance of stocks,
         bonds, and REITs to protectyour portfolio against market downturns...</p>
      <p>AND you have to know exactly how to allocate your cash across all
         those investments to maximize your income stream!</p>
      <p>Very few investors have the expertise – or the time! – to build out
         a high-quality, well-diversified, income-generating portfolio. Which
         is why a team of our top investors have been working on a special project
         designed to eliminate 100% of the guesswork that comes along with
         building an income-producing portfolio.</p>
      <p>You see, countless Motley Fool members like you have told us they’re
         worried about having enough money in retirement... even those with substantial stock holdings.</p>
      <p>Sure, a pile of high-quality stocks is a great start, but it’s not
         much use if it doesn’t let you live your life the way you want to. And
         generating a steady stream of income is a big part of ensuring that your
         future lives up to your dreams.</p>
      <p>In response to these concerned members, two of The Motley Fool’s most
         experienced advisors recently joined together to create a one-of-a-kind
         solution that combines stocks, bonds, and REITs to create a cash-generating portfolio.</p>
      <h3>Introducing The Motley Fool’s <br> brand-new “Instant Income Portfolio”</h3>
      <p>For the first time ever, we’ve put together a <ins>well-diversified,
         high-quality portfolio of income-generating investments</ins> that you can
         replicate in less than 30 minutes!</p>
      <p>There’s no waiting for monthly recommendations to build out your portfolio
         over time... no sorting through long lists of stocks... no wondering how much to buy...</p>
      <p>It’s a set-and-forget income-generating strategy that is designed
         to deliver a steady income stream for years to come.</p>
      <p>Consisting of 26 high-quality, handpicked investments – ranging from
         large caps to small capsto international to REITs – we’ve built the
         “Instant Income” Portfolio to give you everything youneed on Day 1.</p>
      <p>Now, you may be wondering how the “Instant Income” Portfolio might
         work with your existing investments.</p>
      <p>So let me make one thing crystal clear: The “Instant Income”
         Portfolio does not have to replace your existing portfolio</p>
      <p>I know many investors already have an established portfolio, so we’ve constructed
         the “Instant Income” Portfolio to be either a complete or partial portfolio solution.</p>
      <p>Here’s an example that shows just how effective we believe this
         solution can be as part of a portfolio:</p>
      <p>Let’s say you’re a savvy investor who’s banked big capital gains on
         stocks like Amazon, Facebook, or Apple in recent years, but you want
         to dedicate a portion of your funds to replicating the “Instant Income” Portfolio.</p>
      <p>With a $250,000 investment that exactly matches the portfolio, even if
         stocks and dividend payouts stay flat for the next FIVE years, <strong>you
         could still collect more than $40,000</strong> in that time without lifting a finger!</p>
      <p>But considering every single holding in the “Instant Income” Portfolio has been
         fully vetted by The Motley Fool’s world-class analyst team, you’ll
         understand why we strongly believe those payouts <em>won’t</em> stay
         flat, and I expect, could even beat the overall market.</p>
      <p>So even as you’re getting paid via dividends and interest, I believe
         the hand-selected investments in this portfolio stand a good chance to
         increase in value as well – making your total return potentially that much more impressive.</p>
      <p>Of course, you don’t have to invest $250,000 to profit from the
         “Instant Income” Portfolio. While there’s no minimum investment required
         to access the “Instant Income” stocks, we recommend having a portfolio of at least $25,000.</p>
      <p>And you don’t have to open a special account to put the “Instant Income”
         Portfolio of cash-generating investments to work for you. You can buy these
         investments in your regular brokerage account, as well as in Roth,
         SEP, and Traditional IRA accounts.</p>
      <p><ins>Imagine having the peace of mind of collecting regular income checks – without
         having to worry about the gut-wrenching price swings we see so often in growth stocks.</ins></p>
      <p>That’s <em>exactly</em> what the “Instant Income” Portfolio is designed to do.</p>
      <p>Some investors might want to stop right there... and that’s fine! The
         “Instant Income” Portfolio can certainly be a complete income solution by itself.</p>
      <h3>But for Those Who Want to Really “Supercharge” Their Income Stream, We’ve Got an Unusual Offer...</h3>
      <p>During this limited-time enrollment period, you can combine the “Instant Income”
         Portfolio with our comprehensive <em>Motley Fool Total Income</em> service
         to layer on <strong>even more powerful cash-generating strategies</strong>.
         We’ve never been able to offer a package like this before!</p>
      <p>Here’s a look at the invaluable aspects of <em>Total Income</em> that
         could take your income potential from steady to stratospheric.</p>
      <h4><strong>1. All of The Motley Fool’s top dividend stock recommendations at your fingertips!</strong></h4>
      <p>As a member of <em>Motley Fool Total Income</em>, you’ll have ongoing
         access to a <strong>comprehensive list of the best dividend stock
         recommendations</strong> from across The Motley Fool newsletters,
         including <em>Stock Advisor, Rule Breakers, Inside Value, and Income Investor</em>.</p>
      <p>This fully searchable list is the culmination of decades of hard work, boots-on-the-ground
         research, and internal debates... and it’s one of the most valuable offerings of the service.</p>
      <p>When you join <em>Motley Fool Total Income</em> today, your membership
         will grant you unrestricted access to the complete list.</p>
      <p>This list of stocks can serve as your own personal “leg up”
         as you set out to grow your income portfolio.</p>
      <p>Because we’ve done the hard work of vetting these stocks for you, you’ll have the
         confidence of knowing any stock you pick from the list is backed by our team’s extensive research.</p>
      <h4><strong>2. “Best of the Best” guide to the top stocks, curated
         by the entire Motley Fool analyst team.</strong></h4>
      <p>We’ve supercharged <em>Total Income</em> with a powerful computer program
         that aggregates and digests the most up-to-date opinions of The Motley Fool’s
         most experienced stock analysts, including David Gardner, Tom Gardner,
         Michael Olsen, Richard Griefner, Jeff Fischer, and more.</p>
      <p>Then your <em>Total Income</em> co-advisors, Robert Brokamp and
         Ron Gross – you’ll meet them in just a minute – will harness the knowledge
         of the ENTIRE Motley Fool analyst team to boil down the list to its
         white-hot core and kick out a “Best of the Best” list of
         dividend-paying stocks to buy right at that moment.</p>
      <p>Think of it as your weekly ultimate income action guide.</p>
      <h4><strong>3. Expert market commentary and analysis</strong></h4>
      <p>Each week’s guide will come with thoughtful commentary from former
         hedge fund manager RonGross, a value-investing guru and my esteemed colleague.</p>
      <p>Ron will sit down with Robert each week for a candid discussion about
         the state of the market,timely investing opportunities, and the latest financial news.</p>
      <p>Those conversations will be posted to the <em>Motley Fool Total Income</em>
         site so that you can listen tothem at your convenience.</p>
      <div class="advisor-box">
        <h2>Meet the Advisor: Ron Gross</h2>
        <p class="gross-text"><img src="https://source.unsplash.com/CJtNSIOicD0/200x300" class="gross-img">
           At the helm of <em>Motley Fool Total Income’s</em> stock guidance is one of
           the best-regarded investors in Motley Fool history: former hedge fund manager
           Ron Gross. Ron brings his unflappable temperament and nearly two decades of
           Wall Street experience to work for you at <em>Total Income</em>. If you don't know
           Ron, he is about as even-tempered and seasoned an investor as you're likely to come across.
           On Wall Street, Ron is best known for the nine years he spent managing value-focused
           hedgefunds. And then there’s the decade he worked as a top equity analyst for highly respected
           investment firms and financial services companies. His hedge funds beat the S&amp;P 500
           Total Return Index by a total of 145 points. In other words, <strong>Ron's funds generated
           total returns of 112% during a period when the market was down 33%.</strong> That's stunning,
           market-crushing performance. Like some of the world’s best investors,
           Ron believes that the most important determinant of an investor's success or failure
           is how he or she manages the emotions of greed and fear. As co-advisor of <em>Motley Fool
           Total Income</em>, Ron covers the stock portion of the service and brings
           to bear his decades of experience to help you invest in only what he believes
           are the best dividend opportunities available.</p>
      </div>
      <h4><strong>4. A powerful, IRA-friendly investing strategy that can
         DOUBLE or TRIPLE your income</strong></h4>
      <p>While dividends form the backbone of any sound income portfolio,
         it can be tough to earn truly life-changing income with dividends alone.</p>
      <p>That’s why we’re including a powerful tool with your <em>Total Income</em>
         membership... access to covered call recommendations from our <em>Motley
         Fool Options</em> service (a retail value of $999 a year!).</p>
      <p>Let me show you a real-life example of how you could earn
         annualized yields of 12% or more with covered calls.</p>
      <p>A covered call is a very simple, relatively conservative income-producing
         strategy that can dramatically increase the income you earn from investments you already own.</p>
      <p>It’s one of the simplest and safest options investing strategies
         out there. In fact, covered calls are actually <em>less risky</em>
         than simply owning shares, and you can learn how to use them in less than an hour.</p>
      <p>And by adding covered calls to your portfolio, you could earn far
         better yields than you could get from most dividends.</p>
      <p>How much better? Consider these investments recommended in <em>Motley Fool Options</em>:</p>
      <ul>
        <li class="options-stock-list"><p>With a covered call on <strong>Proto Labs</strong> (Nasdaq: PRLB),
           we earned a yield of about 7.5% in just over four months. <strong>That
           works out to about 1.9% per <em>month</em>, or 22.5% per year!</strong></p></li>
        <li class="options-stock-list"><p>We’ve sold a long string of covered calls on <strong>Lowe’s</strong>
           (NYSE: LOW) every few months from December 2010 through January 2015,
           earning a combined <strong>131.7%</strong> yield all along the way.</p></li>
        <li class="options-stock-list"><p>And we’ve sold yet another long series of nine covered calls on
           <strong>Starbucks</strong> (Nasdaq: SBUX) that’s paid us a
           combined <strong>58.6% yield</strong> going back to January 2012.</p></li>
      </ul>
      <p>What’s more, with a covered call, you own the underlying shares, too.
         Which means you get the income from selling the covered calls AND the dividend checks.</p>
      <p>Not only that, but covered calls are IRA-friendly. So you can place these trades in your
         retirement account and protect your income with the incredible tax benefits of your IRA.</p>
      <p><strong>Of course, you don’t need to use options to succeed as a <em>Total Income</em> member.</strong></p>
      <p>The “Instant Income” Portfolio alone is well worth the price of admission.
         But the options portion of <em>Total Income</em> will always be there for you when you’re ready for it.</p>
      <p>It’s our most extensive income investing service ever, and the <em>Motley Fool Total Income</em>
         team is committed to equipping you with a wide variety of income strategies...
         from conservative to aggressive... from stocks to bonds... from options to real estate to annuities.</p>
      <p>Which brings me to the other half of your Total Income advisor team.</p>
      <div class="advisor-box">
        <h2>Meet the Advisor: Robert Brokamp</h2>
        <p class="brokamp-text"><img src="https://source.unsplash.com/CJtNSIOicD0/200x300" class="brokamp-img">
           Joining Ron Gross as <em>Total Income’s</em> co-advisor is our beloved
           personal finance expert, RobertBrokamp, CFP®. Robert has helped many thousands of
           investors in his role as advisor for his other service, <em>Motley Fool Rule Your Retirement</em>.
           And now he’s bringing his vast experience to <em>Total Income</em> to help you with the less
           sexy but still vitally important side of managing your nest egg: asset allocation, taxes,
           insurance, bonds, ETFs, annuities, and more. All written in plain English for the individual investor.</p>
     </div>
     <h4><strong>5. How to use annuities in your income strategy...
        and how to tell which types are right for you</strong></h4>
     <p>Do you want income that is <em>guaranteed</em> by an insurance company to
        last as long as you live, and is <ins>immune to the ups and downs of the stock and bond
        markets</ins>? Then consider an income annuity (also known as an immediate annuity or a
        fixed annuity). However, most annuities don't adjust for inflation, and the payouts
        are historically low due to low interest rates.</p>
     <p>Do you want an investment that has the potential to grow and also has some built-in
        guarantees? You may want to consider a variable annuity with a so-called living benefit,
        such as a <ins>guaranteed level of income</ins> with the potential for higher income. This type of annuity
        is not cheap, and any of the growth would be taxed as ordinary income.</p>
     <p>Do you want more tax-deferred growth and some protection from creditors? You might also
        want to look at a variable annuity. <ins>You won't pay taxes on the growth</ins>
        until you make withdrawals, at which point the money will be taxed as ordinary income.</p>
     <p>Buying an annuity can easily cost you hundreds of thousands of dollars. If you’re
        even considering buying one, Robert Brokamp’s unbiased guidance on annuities alone could
        easily be worth the cost of admission to <em>Motley Fool Total Income</em>.</p>
     <h3>Are You Ready to Earn More Income?</h3>
     <p>When we set out to create the most comprehensive income investing service
        we’ve ever offered, we knew we had to go big.</p>
     <p>That’s why we decided to include ALL of our best income ideas from across
        The Motley Fool’s newsletter services – including <strong>high-yield stocks</strong>...
        all of Robert Brokamp’s <strong>fixed-income recommendations</strong>... and
        all of <em>Motley Fool Options’</em> <strong>covered call recommendations</strong>...
        <strong>REIT recommendations</strong>, <strong>annuity guidance</strong>, and more.</p>
     <p>In other words, in addition to the custom-built “Instant Income” Portfolio...</p>
     <ul>
       <li class="instant-income-list"><p>You’ll get professionally curated access to the best dividend stock ideas
          from all across our newsletter services, combined in a single, simple interface.</p></li>
       <li class="instant-income-list"><p>You’ll be told exactly <em>which</em> dividend stocks to buy, and <em>when</em>
          to buy them. The recommendations are placed into one of three buckets (high yield, growth dividend,
          and conservative dividend) to help you quickly see whether the pick is a good fit for you.</p></li>
       <li class="instant-income-list"><p>You’ll get ongoing coverage of your “Instant Income” Portfolio holdings. We intend
          these to be long-term investments, but if our recommendation changes, you’ll be the first to know.</p></li>
       <li class="instant-income-list"><p>You’ll get timely non-stock recommendations and general guidance... including bonds,
          ETFs, index funds, REITs, annuities, and more... from Certified Financial Planner Robert Brokamp.</p></li>
       <li class="instant-income-list"><p>You’ll get direct access to every single covered call idea that
          comes from <em>Motley Fool Options</em></p></li>
       <li class="instant-income-list"><p>You’ll get extensive coverage of asset classes you probably haven’t spent
          as much time considering. Asset classes like bonds, annuities, REITs, and more.
          Robert has spent most of his career researching these asset classes, so his expertise
          in <em>Motley Fool Total Income</em> could help you avoid costly mistakes.</p></li>
     </ul>
     <p>If you’ve been a member of The Motley Fool for long, you know we have never before
        offered an income investing product that covers so many different ways to earn extra income.</p>
     <p>What would it feel like to be..</p>
     <ul>
       <li class="how-would-it-feel-list"><p><strong>Closer to achieving your financial goals?</strong>
          Whether that is taking your last confident step toward retirement, starting
          a business, buying your own home, taking that vacation to Baliyou’ve always
          dreamed about, or leaving a legacy for your grandchildren.</p></li>
        <li class="how-would-it-feel-list"><p><strong>Earning hundreds, or even thousands, of extra dollars every month?</strong>
          A focused approach that adds more sources of income and higher yields can easily
          crank out a great deal of cash.</p></li>
        <li class="how-would-it-feel-list"><p><strong>Better-informed about a wide variety of income opportunities?</strong>
          Because you'll get a view of The Motley Fool’s best dividend stocks...
          covered calls... bonds... REITs... annuities and more. And it will all be tied
          together with regular and easy-to-understand commentary from the <em>Total Income</em> advisor team.</p></li>
       <li class="how-would-it-feel-list"><p><strong>Cashing dozens of checks from all corners of the market?</strong> Think of
          the regular checks you could earn from each dividend stock, bond, REIT,
          and annuity, not to mention even more checks from each covered call sold.</p></li>
       <li class="how-would-it-feel-list"><p><strong>Able to sleep well at night, knowing you’ve taken the right
          steps to ensure a comfortable future for you and your family?</strong>
          It’s hard to put a price on that kind of peace of mind, isn’t it?</p></li>
     </ul>
     <p>By now, you’re probably wondering what access to the “Instant Income” Portfolio
       and <em>Motley Fool Total Income</em> is going to cost you. Well, I’ve got
       good news: It’s a whole lot less than you might expect..</p>
     <p>If you’ve been around The Motley Fool for a while, you probably know that the last
        time we offered a fully built portfolio like this, with complete company
        research and detailed allocation guidance, <ins>members paid as much as $5,000 for access</ins>.</p>
     <p>That may sound high, but consider that we’ve spent tens of millions of dollars and
       thousands of hours developing the extensive research that lies at the core
        of a ready-made portfolio like the “Instant Income” Portfolio.</p>
     <p>But I’m excited to announce that when you accept this offer today, you won’t pay anything near that.</p>
     <p><strong>For the next few days only, you can unlock immediate access to the
        “Instant Income” Portfolio AND Motley Fool Total Income for a total of just $1,299.</strong></p>
     <p>Of course, if you’d prefer to purchase <em>just</em> the
        “Instant Income” Portfolio, you’re welcome to do so for $999.</p>
     <p>But for just $300 more, you can gain access to EVERYTHING <em>Motley Fool Total Income</em> offers.</p>
     <p>One year of <em>Total Income</em> usually costs $1,999. And don’t forget,
        <em>Motley Fool Total Income</em> includes unlimited access to <em>Motley
        Fool Options</em>... a service that sells for $999 a year by itself. So, you
        can see why we believe this package is a fantastic bargain for income-seeking investors.</p>
     <p>Now, it’s important to note something that makes today’s offer unique. Because
        you are getting complete access to this fully built portfolio on Day 1, <ins>we simply
        cannot offer cash refunds on this offer</ins>.</p>
     <p>You see, we built the “Instant Income” Portfolio for investors who are
        committed to building an income-producing portfolio with the right strategy.</p>
     <p>So if a group of short-term traders were able to gain access to the “Instant Income”
        Portfolio,quickly trade on its recommendations, and then cancel without paying their fair share...</p>
     <p>They could push up the prices of the stocks and do a huge disservice to
        investors who are committed to this strategy for the long run.</p>
      <p>So I hope you’ll understand why we simply can’t offer cash refunds.</p>
      <h3>This may be your best chance to turn your portfolio into an
        income-generating powerhouse – and take your retirement plans to the next level.</h3>
      <p>So please, don’t delay your decision. This enrollment period will be the ONLY
        time we ever offer access to this “Instant Income” Portfolio. Meaning if
        you miss out now, you’ll miss out forever.</p>
      <p>But if you can see what an unprecedented value the combination of
        “Instant Income” Portfolio and <em>Motley Fool Total Income</em> is, I expect you’ll
        want to accept our offer and get your membership started immediately.</p>
      <p>Of course, if you choose to pass on this invitation today, I’ll understand that,
         too. We pride ourselves at The Motley Fool on offering members the service
         that’s the absolute best fit for their particular situation and goals.</p>
      <p>But if you’ve ever worried that you might not have enough money to ensure
         a secure, comfortable income in retirement, then please carefully consider
         the unique solution we’ve put together for you before you leave this page.</p>
      <p>Your future may depend on it.</p>
      <p>Regards,</p>
      <p>David Hanson</p>
      <div style="margin-top:30%; font-size:12px; font-family: Arial;">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <div style="font-size:12px; font-family: Arial;">Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <div style="font-size:12px; font-family: Arial;">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>



    </div>
  </body>
</html>
